In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [4]:
movies.shape

(4803, 20)

In [5]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [6]:
movies = movies.merge(credits,on='title')

In [ ]:
movies.head()
# budget
# homepage
# id
# original_language
# original_title
# popularity
# production_comapny
# production_countries
# release-date(not sure)

In [7]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [8]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [9]:
import ast

In [10]:
def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name']) 
    return L

In [11]:
movies.dropna(inplace=True)

In [12]:
movies['genres'] = movies['genres'].apply(convert)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [13]:
movies['keywords'] = movies['keywords'].apply(convert)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [14]:
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [27]:
def convert(text):
    L = []
    counter = 0
    # Check if text is already a list
    if isinstance(text, list):
        for i in text:
            if counter < 3:  # Limit to 3 items
                L.append(i)
                counter += 1
    return L

# Apply the function to the 'cast' column
movies['cast'] = movies['cast'].apply(convert)

# Check the result
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [28]:
movies['cast'] = movies['cast'].apply(lambda x:x[0:3])

In [29]:
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [30]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [31]:
#movies['overview'] = movies['overview'].apply(lambda x:x.split())
movies.sample(5)

,movie_id,title,overview,genres,keywords,cast,crew
1940,20309,Say It Isn't So,Boy meets girl; boy falls in love (and had wil...,"[Comedy, Romance]",[],"[Chris Klein, Heather Graham, Orlando Jones]",[J.B. Rogers]
3385,71859,We Need to Talk About Kevin,The mother of a teenage sociopath who went on ...,"[Drama, Thriller]","[suburb, violence, killing spree, prison visit...","[John C. Reilly, Tilda Swinton, Ezra Miller]",[Lynne Ramsay]
1419,8090,Untraceable,Special Agent Jennifer Marsh (Diane Lane) work...,[Drama],"[suicide, fbi, kidnapping, snuff, sadism, inve...","[Diane Lane, Billy Burke, Colin Hanks]",[Gregory Hoblit]
346,2655,What Lies Beneath,When Claire Spencer starts hearing ghostly voi...,"[Drama, Horror, Mystery, Thriller]","[secret, haunted house, ouija board, haunting,...","[Harrison Ford, Michelle Pfeiffer, Diana Scarwid]",[Robert Zemeckis]
4212,66468,N-Secure,N-Secure is a no holds-barred thrilling drama ...,"[Drama, Crime, Thriller]",[],"[Cordell Moore, Essence Atkins, Denise Boutte]",[David M. Matthews]

In [32]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [33]:
movies['cast'] = movies['cast'].apply(collapse)
movies['crew'] = movies['crew'].apply(collapse)
movies['genres'] = movies['genres'].apply(collapse)
movies['keywords'] = movies['keywords'].apply(collapse)

In [35]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [36]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [37]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [38]:
new = movies.drop(columns=['overview','genres','keywords','cast','crew'])
#new.head()

In [40]:
new['tags'] = new['tags'].apply(lambda x: " ".join(x))
new.head()

,movie_id,title,tags
0,19995,Avatar,"I n t h e 2 2 n d c e n t u r y , a ..."
1,285,Pirates of the Caribbean: At World's End,"C a p t a i n B a r b o s s a , l o n g ..."
2,206647,Spectre,A c r y p t i c m e s s a g e f r o m ...
3,49026,The Dark Knight Rises,F o l l o w i n g t h e d e a t h o f ...
4,49529,John Carter,J o h n C a r t e r i s a w a r - w e ...

In [48]:
import re

def clean_text(text):
    # Remove spaces between characters
    return re.sub(r'\s+', '', text)

new['tags'] = new['tags'].apply(clean_text)

In [51]:
pip install wordninja

Collecting wordninja
  Downloading wordninja-2.0.0.tar.gz (541 kB)
     ---------------------------------------- 0.0/541.6 kB ? eta -:--:--
     ------------------------------------ - 524.3/541.6 kB 5.7 MB/s eta 0:00:01
     -------------------------------------- 541.6/541.6 kB 1.2 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: wordninja
  Building wheel for wordninja (setup.py): started
  Building wheel for wordninja (setup.py): finished with status 'done'
  Created wheel for wordninja: filename=wordninja-2.0.0-py3-none-any.whl size=541535 sha256=4de38fcf1ba80fcd907f9387d71ac6b41079f5b805cfe0636bf535b761ab39b9
  Stored in directory: c:\users\merlin.f_servify\appdata\local\pip\cache\wheels\e6\66\9c\712044a983337f5d44f90abcd244bd4b8ad28ee64750404b50
Successfully built wordninja
Installing collected packages: wordninja
Successfully installed wordninja-2.0.0
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import wordninja

def reinsert_spaces(text):
    # Use wordninja to split the text into words
    return ' '.join(wordninja.split(text))

new['tags'] = new['tags'].apply(reinsert_spaces)

In [60]:
pip install spacy

^C
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import spacy

# Load the spaCy model
nlp = spacy.load('en_core_web_sm')

def reinsert_spaces(text):
    # Process the text with spaCy
    doc = nlp(text)
    # Join the tokens into a single string with spaces
    return ' '.join(token.text for token in doc)

new['tags'] = new['tags'].apply(reinsert_spaces)

In [62]:
print(new['tags'].head())

0    Inthe22ndcentury,aparaplegicMarineisdispatched...
1    CaptainBarbossa,longbelievedtobedead,hascomeba...
2    AcrypticmessagefromBond’spastsendshimonatrailt...
3    FollowingthedeathofDistrictAttorneyHarveyDent,...
4    JohnCarterisawar-weary,formermilitarycaptainwh...
Name: tags, dtype: object

In [63]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=5000, stop_words='english')
vector = cv.fit_transform(new['tags']).toarray()

# Check the shape of the resulting matrix
print(vector.shape)

(4806, 5000)

In [76]:
import re

# Example dictionary of common English words (extend as needed)
common_words = [
    'the', 'and', 'a', 'in', 'of', 'to', 'is', 'with', 'on', 'for',
    'when', 'who', 'which', 'where', 'how', 'why', 'as', 'it', 'at',
    'an', 'by', 'or', 'from', 'that', 'this', 'but', 'was', 'has', 
    'been', 'will', 'shall', 'may', 'could', 'would', 'might', 'can'
]

def reinsert_spaces(text):
    # Pattern to insert space before capital letters, assuming they indicate new words
    text = re.sub(r'(?<!^)(?<!\s)(?<!\d)(?<![a-z])(?=[A-Z])', ' ', text)
    # Pattern to handle common words
    pattern = '|'.join(f'(?<!\w){word}(?!\w)' for word in common_words)
    text = re.sub(pattern, r' \0 ', text)
    # Fix extra spaces
    text = re.sub(r'\s+', ' ', text).strip()
    return text

new['tags'] = new['tags'].apply(reinsert_spaces)

In [77]:
# Print a few examples for manual inspection
print(new['tags'].head(10))

0    Inthe22ndcentury,aparaplegicMarineisdispatched...
1    CaptainBarbossa,longbelievedtobedead,hascomeba...
2    AcrypticmessagefromBond’spastsendshimonatrailt...
3    FollowingthedeathofDistrictAttorneyHarveyDent,...
4    JohnCarterisawar-weary,formermilitarycaptainwh...
5    TheseeminglyinvincibleSpider- Mangoesupagainst...
6    Whenthekingdom'smostwanted-andmostcharming-ban...
7    WhenTonyStarktriestojumpstartadormantpeacekeep...
8    AsHarrybeginshissixthyearatHogwarts,hediscover...
9    Fearingtheactionsofagod-likeSuperHeroleftunche...
Name: tags, dtype: object

In [75]:
# Print a few examples for manual inspection
print(new['tags'].head(10))

0    Inthe22ndcentury,aparaplegicMarineisdispatched...
1    CaptainBarbossa,longbelievedtobedead,hascomeba...
2    AcrypticmessagefromBond’spastsendshimonatrailt...
3    FollowingthedeathofDistrictAttorneyHarveyDent,...
4    JohnCarterisawar-weary,formermilitarycaptainwh...
5    TheseeminglyinvincibleSpider- Mangoesupagainst...
6    Whenthekingdom'smostwanted-andmostcharming-ban...
7    WhenTonyStarktriestojumpstartadormantpeacekeep...
8    AsHarrybeginshissixthyearatHogwarts,hediscover...
9    Fearingtheactionsofagod-likeSuperHeroleftunche...
Name: tags, dtype: object

In [78]:
import re

def reinsert_spaces(text):
    # Insert space before uppercase letters, except if it's the start of the string
    text = re.sub(r'(?<!^)(?<!\s)(?<!\d)(?<![a-z])(?=[A-Z])', ' ', text)
    # Additional rule-based spacing
    text = re.sub(r'(\d+)([A-Z])', r'\1 \2', text)  # Space between numbers and capital letters
    text = re.sub(r'([A-Z])([A-Z][a-z])', r'\1 \2', text)  # Space between camel case
    text = re.sub(r'([a-z])([A-Z])', r'\1 \2', text)  # General camel case
    text = re.sub(r'\s+', ' ', text).strip()  # Remove multiple spaces
    return text

new['tags'] = new['tags'].apply(reinsert_spaces)

In [79]:
print(new['tags'].head(10))

0    Inthe22ndcentury,aparaplegic Marineisdispatche...
1    Captain Barbossa,longbelievedtobedead,hascomeb...
2    Acrypticmessagefrom Bond’spastsendshimonatrail...
3    Followingthedeathof District Attorney Harvey D...
4    John Carterisawar-weary,formermilitarycaptainw...
5    Theseeminglyinvincible Spider- Mangoesupagains...
6    Whenthekingdom'smostwanted-andmostcharming-ban...
7    When Tony Starktriestojumpstartadormantpeaceke...
8    As Harrybeginshissixthyearat Hogwarts,hediscov...
9    Fearingtheactionsofagod-like Super Heroleftunc...
Name: tags, dtype: object

In [80]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=5000, stop_words='english')
vector = cv.fit_transform(new['tags']).toarray()

# Check the shape of the resulting matrix
print(vector.shape)

(4806, 5000)

In [71]:
print(new['tags'].head())

0    Inthe22ndcentury,aparaplegicMarineisdispatched...
1    CaptainBarbossa,longbelievedtobedead,hascomeba...
2    AcrypticmessagefromBond’spastsendshimonatrailt...
3    FollowingthedeathofDistrictAttorneyHarveyDent,...
4    JohnCarterisawar-weary,formermilitarycaptainwh...
Name: tags, dtype: object

In [81]:
print(new['tags'].head())

0    Inthe22ndcentury,aparaplegic Marineisdispatche...
1    Captain Barbossa,longbelievedtobedead,hascomeb...
2    Acrypticmessagefrom Bond’spastsendshimonatrail...
3    Followingthedeathof District Attorney Harvey D...
4    John Carterisawar-weary,formermilitarycaptainw...
Name: tags, dtype: object

In [82]:
vector.shape

(4806, 5000)

In [83]:
from sklearn.metrics.pairwise import cosine_similarity

In [84]:
similarity = cosine_similarity(vector)

In [85]:
similarity

array([[1.        , 0.16666667, 0.27386128, ..., 0.        , 0.        ,
        0.        ],
       [0.16666667, 1.        , 0.09128709, ..., 0.        , 0.        ,
        0.        ],
       [0.27386128, 0.09128709, 1.        , ..., 0.        , 0.18257419,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.18257419, ..., 0.        , 1.        ,
        0.04256283],
       [0.        , 0.        , 0.        , ..., 0.        , 0.04256283,
        1.        ]])

In [86]:
new[new['title'] == 'The Lego Movie'].index[0]

744

In [100]:
def recommend(movie):
    index = new[new['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new.iloc[i[0]].title)

In [110]:
recommend('Batman')

Batman
Batman
Mars Attacks!
The Dark Knight Rises
Batman Returns

In [90]:
import pickle

In [93]:
pickle.dump(new,open('movie_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))